@media screen and (max-width: 1200px) {
    .box__nosotros{
        flex-flow: wrap;
    }
    .box__nosotros2{
        flex-flow: wrap;
    }

}


@media screen and (max-width: 920px) {
    .container__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn__menu {
        display: flex;
    }

    nav {
        height: 100%;
        background: var(--main-color2);
        border-left: 2px solid var(--bg-color);
        position: fixed;
        top: 0;
        right: -180px;
        padding: 0px 1.6rem;
        transition: all 300ms;
    }

    .move_nav {
        right: 0px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 20px 10px;
        color: var(--white-color);
    }
    .nav_mod a{
        color: var(--white-color);
    }
    .container__vector img {
        width: 50%;
    }
    .box-certificado-img img{
        width: 10rem;
    }
    .select{
        background: var(--main-color);
    }
}

@media screen and (max-width: 760px) {
    html {
        font-size: 52.5%;
        overflow-x: hidden;
    }
    .box__footer{
        align-items: center;
        min-width: 30rem;
    }
    
}
@media screen and (max-width: 540px) {
    
    .title_header{
        display: none;
    }
    .container__header{
        padding-bottom: 4rem;
    }
    footer{
        padding-bottom: 10rem;
    }
    .box-banner-publicitario h1 {
        font-size: 2rem;
    }
    .box__nosotros1{
        width: 100%;
    }
    .box__nosotros1 img{
        width: 100%;
    }
    
}
@media screen and (max-width: 500px){
    .form .column{
        flex-wrap: wrap;
    }
    .form :where(.gender-opcion, .gender){
        row-gap: 15px;
    }
    #portfolio{
        display: none;
    }
    .box-certificado-img img{
        width: 6rem;
    }
    html {
        font-size: 42.5%;
        overflow-x: hidden;
    }
    .slider{
        padding-top: 6%;
    }
    header{
        height: 10rem;
    }
    .container__header{
        height: 10rem;
    }
    .nav_mod {
        height: 11rem;
    }

}